<tr>
	<td>:time</td>
	<td>:stockName</td>
	<td>:stockCode</td>
	<td>:htmlNewPrice</td>
	<td>:yesterdayClosePrice</td>
	<td>:todayOpenPrice</td>
	<td>:maxPrice</td>
	<td>:minPrice</td>
	<td>:upDownPrice</td>
	<td :NewsHistory>:htmlUpDownRange</td>
	<td>:bargainSum</td>
	<td>:bargainSize</td>
	<td>:turnoverRate%</td>
	<td>:swingRate%</td>
	<td>:outSize</td>
	<td>:inSize</td>
	<td>:priceEarningRatio</td>
	<td>:priceBookValueRatio</td>
	<td>:buySum</td>
	<td>:sellSum</td>
	<td>:htmlDifferenceSum</td>
</tr>